
* {
    font-family: "PT Sans", sans-serif;
}
body {
    margin-top: 100px;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
}
button {
    width: 30%;
    font-weight: 700;
    padding: 20px;
    border-width: 1px;
    border-style: inset;
    border-color: gold;
    border-image: initial;
    background: gold;
}